.main_table {
  margin: auto;
  width: 40%;
  height: 45%;
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}
.dropBtn {
  border-radius: 12px;
  background-color: tomato;
  transition: 0.7s;
  color: white;
  border: none;
  padding: 7px 9px;
}
.dropBtn:hover {
  background-color: rgb(177, 80, 63);
}
.headDiv {
  text-align: center;
  margin: auto;
  padding: 0.3%;
  width: 100%;
  color: lavenderblush;
  background-color: lightcoral;
}
.hidden {
  display: none;
}
.visible {
  display: inline-block;
}
.upperDiv {
  text-align: center;
}
.winnerP {
  text-align: center;
  margin: 0 auto;
  margin-left: 25%;
  color: white;
  width: 50%;
  border-radius: 10px;
  opacity: 0.7;
  border: green 3px solid;
  background-color: rgb(119, 172, 66);
  font-size: 300%;
}
.turnP {
  text-align: center;
  color: orangered;
  font-size: 150%;
}
.restartBtn {
  margin-left: 47%;
  align-self: auto;
  color: #ffffff;
  font-weight: 300;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  background-color: #4eb5f1;
}
thead > tr > td {
  border: 1px solid black;
}

tbody > tr > td {
  border: 1px solid black;
  padding: 7%;
  border-radius: 50%;
}

thead {
  background-color: darkgray;
}
